{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "src": "./src",
              "assets": "./src/assets",
              "img": "./src/assets/img",
              "fonts": "./src/assets/fonts",
              "containers": "./src/containers",
              "atoms": "./src/components/atoms",
              "molecules": "./src/components/molecules",
              "screens": "./src/components/screens",
              "reducers": "./src/reducers",
              "actions": "./src/actions",
              "store": "./src/store"
            }
          }
        ]
      ]
    }
  }
}
